.venv/

# Ignore default directories
/backups/*
/data/*
/logs/*

# Python cache files
**__pycache__/
lib/__pycache__/
*.pyc

# Ignore any files related to SSMS projects/solutions
vsworkspacestate.json
.ssms_suo
slnx.sqlite
/.vs
/.vs/*
/.vs/VSWorkspaceState.json

# Ignore data directories
*.egg-info/