# Ignore default directories
_logs/
!_logs/.gitkeep
_backups/
!_backups/.gitkeep
_venv/
_trans/
!_trans/.gitkeep

# Ignore database backup files
backups/*
!backups/.gitkeep
*.bak
*.backup

# Directories to ignore
trans/*
_logs/*

# Python cache files
**__pycache__/
lib/__pycache__/
*.pyc

# Ignore any files related to SSMS projects/solutions
vsworkspacestate.json
.ssms_suo
slnx.sqlite
/.vs
/.vs/*
/.vs/VSWorkspaceState.json

# Ignore data directories
grow-path/data/*
grow-path/backups/*

needles/data/*
needles/backups/*