# Ignore backups due to the size of the files
_backups/*
!_backups/.gitkeep

# Ignore Python virtual environment
_venv/

# Ignore transfer directory
_trans/*
!_trans/.gitkeep

# Ignore Python cache files
**__pycache__/
lib/__pycache__/
*.pyc

# Ignore any files related to SSMS projects/solutions
vsworkspacestate.json
.ssms_suo
slnx.sqlite
/.vs
/.vs/*
/.vs/VSWorkspaceState.json

# Ignore source data directory
_data/*
!_data/.gitkeep