USE [SAPerfectPracticeEmroch]
GO

if exists (select * from sys.objects where name='CaseTypeMixture' and type='U')
	drop table [dbo].[CaseTypeMixture]

GO
CREATE TABLE [dbo].[CaseTypeMixture](
	[matcode] [nvarchar](255) NULL,
	[header] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[SmartAdvocate Case Type] [nvarchar](255) NULL,
	[SmartAdvocate Case Sub Type] [nvarchar](255) NULL
) ON [PRIMARY]
GO

insert into [dbo].[CaseTypeMixture]
(
	[matcode],
	[header],
	[description],
	[SmartAdvocate Case Type],
	[SmartAdvocate Case Sub Type]
)
select matcode,header,[description],null,'Unknown' from PerfectPracticeEmroch.dbo.matter
