USE [SAPerfectPracticeEmroch]
GO
/****** Object:  Table [dbo].[CaseValueMapping]    Script Date: 3/19/2019 4:38:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--drop table [dbo].[CaseValueMapping]
CREATE TABLE [dbo].[CaseValueMapping](
	[Needles_Case_Value] [nvarchar](255) NULL,
	[Case_Value_From] [float] NULL,
	[Case_Value_To] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CaseValueMapping] ([Needles_Case_Value], [Case_Value_From], [Case_Value_To]) VALUES (N'A = $250k or more', 250000, 10000000)
INSERT [dbo].[CaseValueMapping] ([Needles_Case_Value], [Case_Value_From], [Case_Value_To]) VALUES (N'B = $100k - $250k', 100000, 250000)
INSERT [dbo].[CaseValueMapping] ([Needles_Case_Value], [Case_Value_From], [Case_Value_To]) VALUES (N'C = $50k - $100k', 50000, 100000)



--select distinct C.Case_Ranking
--from [PerfectPracticeEmroch].[dbo].[user_case_data] C
--where isnull(C.Case_Ranking,'')<>'' 
--C = $50k - $100k
--E = Under $25k
--A = $250k or more   10000000
--D = $25k - $50k
--B = $100k - $250k   